[Unit]
Description=ble-auth daemon service
Requires=bluetooth.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/ble-auth

[Install]
WantedBy=multi-user.target

